<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <title>Hello</title>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <h1>Yuk Cari Buku!</h1>

    <form>
        <input id="keyword" placeholder="Cari...">
    </form>
</br>

    
    <table id="hasil" align="center">
        <tr>
            <th id="gambar">Gambar</th>
            <th id="judul">Judul</th>
            <th id='Informasi'>Informasi</th>
        </tr>

    </table>

    <script src="{% static 'home/script.js' %}"></script>
</body>
</html>