h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: black;
    margin-top: 100px;
}

table, th, td {
    width: 80%;
    border: 1px solid black;
    align-self: center;
  }
 
  
#informasi, .link {
    width: 30%;
}

#gambar, .cover {
    width: 20%!important;
}

 #judul, .title {
    width: 40%;
}

#keyword {
    align-self: center;
}
